# Compiled Python files
*.py[cod]

# Backup files
*~
*.bak

# C extensions
*.so

# generated directories
dist
build
.eggs/
/docs
docs_sphinx/_build/
docs_sphinx/reference
output/

# Unit test / coverage reports
.coverage

# Test cache
.pytest_cache

# Eclipse project files and settings
.project
.pydevproject
/.settings

# pycharm project files
.idea
/skcan_compare.egg-info

# VisualStudio Code
.vscode/

# VS Code devcontainer metadata
.devcontainer/frozen-requirements.txt

# vim files
*.swp
.rope*

# IPython
.ipynb_checkpoints

# System files
.DS_Store