# Compiled Python files
*.py[cod]

# Cached data
/sckan_compare/api_cache
api_cache.*

# Backup files
*~
*.bak

# C extensions
*.so

# generated directories
dist
build
.eggs/
docs/_build/*
docs/reference
output/

# Unit test / coverage reports
.coverage

# Test cache
.pytest_cache

# Eclipse project files and settings
.project
.pydevproject
/.settings

# pycharm project files
.idea
/sckan_compare.egg-info

# VisualStudio Code
.vscode/

# VS Code devcontainer metadata
.devcontainer/frozen-requirements.txt

# vim files
*.swp
.rope*

# Python files
build
dist
MANIFEST

# Egg metadata
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.pkl

# IPython
.ipynb_checkpoints

# System files
.DS_Store
